<h1>Articles</h1>

<div infinite-scroll="addItems()" infinite-scroll-distance=".1">

  <ul class="tags" ng-class="{'active-tag': tag}">
    <li ng-repeat="term in terms" ng-class="tag == term.tid ? 'active': ''"><a ui-sref="article({ tag: term.tid })">{{term.name}}</a></li>
    <li ng-class="tag != undefined ? 'active': 'hidden'"><a ui-sref="article({ tag: null })">&#158;</a></li>
  </ul>

  <div ng-repeat="item in items" class="item">

    <h3><a href="{{item.path}}">{{item.title}}</a></h3>
    <p class="post-date">Posted {{item.created | date:'MM/dd/yyyy, h:mma'}}</p>
    <div class="field-body" ng-bind-html="item.body"><div>

  </div>

</div>
